.author {
  margin-top: 10px;
  display: block;
}
.book {
  display: block;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #6159e6 !important;
  border-color: #6159e6;
}
.top {
  margin-top: 20px;
}
.image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card-img-top {
  min-height: 250px;
  max-height: 250px;
}
.card {
  margin-bottom: 20px;
}
