
<!-- <div class="container">

  <a [routerLink]="author._id.toString()"><img [src]="author.imageUrl"></a>
    'author.imageUrl':''">  
  <a routerLinkActive="text-danger" [routerLink]="author._id.toString()">{{author.firstname}} {{author.lastname}}</a> 
</div> -->

<!-- <div class="card" style="width: 18rem;">
  <img [src]="author.imageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">{{author.firstname}} {{author.lastname}}</p>
     <a href="#" class="btn btn-primary">Go somewhere</a> 
  </div>
</div> -->