<div>
  <img class="img img-responsive" src="../../../../assets/book lover.svg">

  <hr>
<div class="container">
  <div class="row">
    <!-- <h2><app-popular-categories></app-popular-categories></h2> 
    
     <app-popular-authors></app-popular-authors> -->
    
     <div class="col-md-4">
      <div class="profile-card-6"><img src="../../../../assets/author.jpg" class="w-100 img-responsive">
          <div class="profile-name">J. K. Rowling
              <br>DOE</div>
          <div class="profile-position">Author</div>
          <div class="profile-overview">
              <div class="profile-overview">
                  <div class="row text-center">
                      <div class="col-xs-4">
                          <h3>1</h3>
                          <p>Rank</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>50</h3>
                          <p>Reviews</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>35</h3>
                          <p>Harry Potter</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card-6"><img src="../../../../assets/book2.jpg" class="w-100 img-responsive">
          <div class="profile-name">Water Home
              <br>DOE</div>
          <div class="profile-position">Book</div>
          <div class="profile-overview">
              <div class="profile-overview">
                  <div class="row text-center">
                      <div class="col-xs-4">
                          <h3>1</h3>
                          <p>Rank</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>40</h3>
                          <p>Reviews</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>35</h3>
                          <p>price</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card-6"><img src="../../../../assets/category.jpg" class="w-100 img-responsive">
          <div class="profile-name">science
              <br>DOE</div>
          <div class="profile-position">Category</div>
          <div class="profile-overview">
              <div class="profile-overview">
                  <div class="row text-center">
                      <div class="col-xs-4">
                          <h3>1</h3>
                          <p>Rank</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>50</h3>
                          <p>Reviews</p>
                      </div>
                      <div class="col-xs-4">
                          <h3>35</h3>
                          <p>Harry Potter</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>


</div>
</div>