/* You can add global styles to this file, and also import other style files*/
body{
    /* background-image: url('./assets/bookground.jpeg');
    opacity: 0.8;
    background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; */
} 