.card-img-top{
    max-height: 250px;
    min-height: 250px;
}

.card{
    margin: 15px 0;
}

.btn{
    display: block;
    margin: 10px 0;
    background-color: #6159e6;
    border-color: #6159e6
}

.btn:active{
    background-color: #6159e6 !important;
    border-color: #6159e6 !important
}