/* .navbar{
background-color: blueviolet  !important;

}
.navbar-brand{
    color: black  !important;
}
.nav-item>a{
    color: black  !important;
}
.nav-item>a:hover{
    color: rgb(166, 157, 192)  !important;
} */
.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; }
    .ftco-navbar-light .container {
        width: 1110px;
        margin: 0 auto;
        padding: 0; }
      .ftco-navbar-light .navbar-brand {
        color: #000000;
        padding-top: .7rem;
        padding-bottom: .7rem; }
        .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
          color: #000000 !important; }
        @media (max-width: 991.98px) {
          .ftco-navbar-light .navbar-brand {
            color: #fff; } }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav {
          padding-bottom: 20px;
          margin-right: 0; } }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        font-size: 16px;
        padding-top: .7rem;
        padding-bottom: .7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #4f2377;
        font-weight: 600;
        opacity: 1 !important; }
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
          position: relative;
          display: block;
          padding-bottom: 2px; }
          @media (max-width: 1199.98px) {
            .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
              display: inline-block; } }
              
    .navbar-brand {
      font-weight: 900;
      font-size: 26px;
      position: relative;
      z-index: 0;
      font-family: "Raleway", sans-serif; }
      .navbar-brand span {
        color: #17b978; }

        .active-link{
            background-color: blueviolet !important;
            border-radius: 10px;
        }
    