.avatar {
  height: 40px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
  margin-right: 10px;
}
.username {
  color: white;
  display: inline;
  margin-right: 10px;
}

nav{
  background-color: #6159e6;
}

a{
  color: #FFF;
  padding: 5px 5px
}