  
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
<li [ngbNavItem]="1">
  <a ngbNavLink>Categories</a>
  <ng-template ngbNavContent>
    <app-categorytable></app-categorytable>
  </ng-template>
</li>
<li [ngbNavItem]="2">
  <a ngbNavLink>Books</a>
  <ng-template ngbNavContent>
    <app-booktable></app-booktable>
  </ng-template>
</li>
<li [ngbNavItem]="3">
  <a ngbNavLink>Authors</a>
  <ng-template ngbNavContent>
    <app-authortable></app-authortable>
  </ng-template>
</li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>