.img-container{
  width: 250px;
  height: auto;
  margin-right: 20px
}

.review-container{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.text{
  padding: 8px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 15px
}

.text-center button{
  margin: 5px 0
}

.text-center form .btn{
  margin: 5px 5px;
}