<button class="btn btn-primary add" (click)="handleNewAuthorRender(content)">
  Add Author
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="newMode" id="modal-basic-title">
      Add New Author
    </h4>
    <h4 class="modal-title" *ngIf="editMode" id="modal-basic-title">
      Edit Author
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filter">
      <div class="form-group">
        <label for="name">First Name</label>
        <div class="input-group">
          <input
            id="Name"
            class="form-control"
            placeholder="Please Enter First Name.."
            type="text"
            formControlName="Firstname"
            [(ngModel)]="firstName"
          />
        </div>
        <label for="LastName">Last Name</label>
        <div class="input-group">
          <input
            id="last name"
            class="form-control"
            placeholder="Please Enter Last Name.."
            type="text"
            formControlName="Lastname"
            [(ngModel)]="lastName"
          />
        </div>
        <label for="id">Date of Birth</label>
        <div class="input-group">
          <input
            id="category id"
            class="form-control"
            placeholder="Please Enter Date of Birth.."
            type="text"
            formControlName="dob"
            [(ngModel)]="dob"
          />
        </div>
        <label for="imageLink">Cover Image Link</label>
        <div class="input-group">
          <input
            id="Name"
            class="form-control"
            placeholder="Please Enter Cover Image Link.."
            name="dp"
            type="text"
            formControlName="imageUrl"
            [(ngModel)]="imageUrl"
          />
        </div>
        <label for="imageLink">Short Description</label>
        <div class="input-group">
          <input
            id="Name"
            class="form-control"
            placeholder="Please Enter Short Description.."
            name="dp"
            type="text"
            formControlName="shortDescription"
            [(ngModel)]="shortDescription"
          />
        </div>
      </div>
    </form>

    <div *ngIf="newMode" class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        [disabled]="!filter.valid"
        (click)="addNewAuthor()"
      >
        Save
      </button>
    </div>
    <div *ngIf="editMode" class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="handleEdit($event)"
      >
        Edit
      </button>
    </div>
  </div>
</ng-template>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Image Link</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors; index as i">
      <th scope="row">{{ i + 1 }}</th>

      <td>
        {{ author.firstname }}
      </td>
      <td>{{ author.lastname }}</td>
      <td>
        <img
          class="image"
          [src]="
            author.imageURL
              ? author.imageURL
              : 'https://i1.wp.com/ddrg.farmasi.unej.ac.id/wp-content/uploads/sites/6/2017/10/unknown-person-icon-Image-from.png?fit=221%2C228'
          "
          alt=""
        />
      </td>
      <td>{{ author.dob }}</td>
      <td>
        <button
          class="btn btn-danger delete"
          [id]="author._id"
          (click)="handleDelete($event)"
        >
          Delete
        </button>
        <button
          (click)="handleEditRender($event, content)"
          [id]="author._id"
          class="btn btn-primary"
          [attr.data-index]="i"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
