.author {
  margin-top: 10px;
  display: block;
}
.book {
  display: block;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8064a2 !important;
  border-color: #8064a2;
}
.top {
  margin-top: 20px;
}
.image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
