<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form
            class="form-signin"
            [formGroup]="userForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-label-group">
              <label for="inputUserame">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                [formControl]="username"
                class="form-control shadow p-3 mb-5 bg-body rounded"
                placeholder="Username"
              />
              <div [hidden]="username.valid || username.untouched">
                <div
                  class="badge bg-danger email"
                  [hidden]="!username.hasError('minlength')"
                >
                  Username can not be shorter than 3 characters.
                </div>
                <div
                  class="badge bg-danger email"
                  [hidden]="!username.hasError('required')"
                >
                  Username is required.
                </div>
              </div>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <input
                type="email"
                name="email"
                [formControl]="email"
                id="email"
                class="form-control shadow p-3 mb-5 bg-body rounded"
                placeholder="Email address"
              />
              <div
                class="badge bg-danger email"
                [hidden]="email.valid || email.untouched"
              >
                <div>Email is required</div>

                <div
                  class="badge bg-danger email"
                  [hidden]="!email.hasError('minlength')"
                >
                  Email can not be shorter than 3 characters.
                </div>
              </div>
              <div
                class="badge bg-danger email"
                [hidden]="!email.hasError('pattern')"
              >
                Email is invalid.
              </div>
            </div>

            <hr />

            <div class="form-label-group">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                name="password"
                [formControl]="password"
                id="password"
                class="form-control shadow p-3 mb-5 bg-body rounded"
                placeholder="Password"
                required
              />
              <div
                class="badge bg-danger email"
                [hidden]="password.valid || password.untouched"
              >
                <div>Password is Required</div>
              </div>
              <div
                class="badge bg-danger email"
                [hidden]="!password.hasError('minlength')"
              >
                password can not be shorter than 8 characters.
              </div>
            </div>
            <div class="badge bg-danger email" [hidden]="!LoginErr">
              Invalid Form Data
            </div>
            <button
              [disabled]="!userForm.valid || isLoading"
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              {{ isLoading ? "Loading" : "Register" }}
            </button>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
